@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

// primary colors
// rgb(1, 235, 252)
// rgb(0, 182, 195)
// rgb(0, 80, 86)
// secondary colors
//black
* {
  background-color: black;
}
.pictureUpload {
  position: absolute;
  top: 50%; // Center vertically
  left: 50%; // Center horizontally
  transform: translate(-50%, -50%); // Adjust position to be truly centered
  width: 150px; // Increase width
  height: 150px; // Increase height
  border-radius: 50%;
  border: 2px solid rgb(1, 235, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow:
    0px 0px 100px rgb(1, 235, 252),
    inset 0px 0px 10px rgb(1, 235, 252),
    0px 0px 5px rgb(255, 255, 255);
  animation: flicker 4s linear infinite alternate;

  .icon {
    color: rgb(1, 235, 252);
    font-size: 2.5rem;
    cursor: pointer;
    animation: iconflicker 4s linear infinite alternate;
  }
  .pictureUploadButton {
    border: none;
    background: none;
    padding: 0;
  }

  .input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
  }

  @keyframes flicker {
    0%,
    100% {
      opacity: 1;
      border: 2px solid rgb(1, 235, 252);
      box-shadow:
        0px 0px 100px rgb(1, 235, 252),
        inset 0px 0px 10px rgb(1, 235, 252),
        0px 0px 5px rgb(255, 255, 255);
    }
    50% {
      opacity: 0.3;
      border: 2px solid rgb(0, 80, 86);
      box-shadow: none;
    }
  }

  @keyframes iconflicker {
    0%,
    100% {
      // opacity: 1;
    }
    50% {
      // opacity: 0.2;
    }
  }
}

.pictureHeader {
  h1 {
    color: rgb(1, 235, 252);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    font: {
      family: 'Jersey 15', sans-serif;
      weight: 300;
      style: normal;
      size: 75px;
    }
    text-shadow: 5px 5px 10px rgb(0, 182, 195);
    // animation: flicker 2s linear infinite;
  }
}

.burger-menu-button {
  border: none;
  background: none;
  padding: 0;
  position: relative;
  ion-icon {
    position: absolute;
    left: 8px;
    top: 8px;
    color: rgb(0, 80, 86);
    border: transparent;
    font-size: 32px;
  }
  .burger-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }

  .burger-menu-on {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    display: block;
    background: linear-gradient(to right, rgb(0, 80, 86), black);
    height: 100vh;
    width: 20vh;
    z-index: 1000;
    a {
      color: rgb(0, 80, 86);
    }
  }
}

.loading {
  .cube-container {
    width: 200px;
    height: 200px;
    perspective: 800px;
    margin: 50px auto;
  }

  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 15s infinite linear;
  }

  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    color: rgb(1, 235, 252);
    font-size: 18px;
    text-align: center;
    line-height: 200px;
    background: transparent;
    opacity: 0.9;
    border: 2px solid;
    border-image: linear-gradient(
      90deg,
      rgba(14, 8, 110, 1) 0%,
      rgba(15, 15, 167, 1) 26%,
      rgba(20, 45, 255, 1) 85%
    );
    box-shadow: 0 0 100px rgba(0, 182, 195, 0.61);
  }

  .front {
    transform: translateZ(100px);
    background-color: rgb(1, 235, 252);
    background-image: linear-gradient(
      160deg,
      rgb(1, 235, 252) 0%,
      rgb(0, 182, 195) 100%
    );
  }

  .back {
    transform: rotateY(180deg) translateZ(100px);
    background-color: rgb(1, 235, 252);
    background-image: linear-gradient(
      160deg,
      rgb(1, 235, 252) 0%,
      rgb(0, 182, 195) 100%
    );
  }

  .right {
    transform: rotateY(90deg) translateZ(100px);
    background-color: rgb(1, 235, 252);
    background-image: linear-gradient(
      160deg,
      rgb(1, 235, 252) 0%,
      rgb(0, 182, 195) 100%
    );
  }

  .left {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: rgb(1, 235, 252);
    background-image: linear-gradient(
      160deg,
      rgb(1, 235, 252) 0%,
      rgb(0, 182, 195) 100%
    );
  }

  .top {
    transform: rotateX(90deg) translateZ(100px);
    background-color: rgb(1, 235, 252);
    background-image: linear-gradient(
      160deg,
      rgb(1, 235, 252) 0%,
      rgb(0, 182, 195) 100%
    );
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    background-color: rgb(1, 235, 252);
    background-image: linear-gradient(
      160deg,
      rgb(1, 235, 252) 0%,
      rgb(0, 182, 195) 100%
    );
  }

  .cube-container:hover .cube {
    animation-play-state: paused;
  }

  @keyframes rotate {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
}

.tab-bar {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.35) 0px 5px 15px,
    rgba(245, 73, 144, 0.5) 5px 10px 15px;
    
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    ion-icon: {
      font-size: 100%;
      position: absolute;
      // width: 5em;
      // height: 1em;
    }
  }

  .button:hover {
    transform: translateY(-3px);
  }
}

.receipt-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(1, 235, 252);
  font: {
    family: 'Jersey 15', sans-serif;
    weight: 200;
    style: normal;
    size: 20px;
  }
  .nameInput {
    color: rgb(1, 235, 252);
    width: 50px;
    font: {
      family: 'Jersey 15', sans-serif;
      weight: 200;
      style: normal;
      size: 20px;
    }
    hr {
      width: 100vh;
      color: rgb(0, 80, 86);
    }
  }
}